@model HomeDepotProConnect.Models.LeaderBoard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LeaderBoard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaOfExpertise.AreaOfExpertiseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaOfExpertise.AreaOfExpertiseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pros.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pros.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LeaderBoardId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
