@model HomeDepotProConnect.Models.RelatedQuestionAnswer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RelatedQuestionAnswer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionAndAnswerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionAndAnswerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelatedQuestionMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatedQuestionMessage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RelatedQuestionAnswerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
