@model HomeDepotProConnect.Models.AreaOfExpertise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AreaOfExpertise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaOfExpertiseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaOfExpertiseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaOfExpertiseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaOfExpertiseDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AreaOfExpertiseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
